[Unit]
Description=Fetch ISS Position Every 1 Minute

[Timer]
OnBootSec=30
OnUnitActiveSec=1min
AccuracySec=30
Persistent=true

[Install]
WantedBy=timers.target
